/* ISI ASLI */

* {
    font-family: Calibri;
}

body {
    margin: 0;
    background-color: #435970;
}

.container {
    padding-top: 20px;
    margin: auto;
    width: 800px;
    background-color: #1f2833;
}

header {
    margin-left: 20px;
}

.Judul {
    margin-left: 50px;
    padding-bottom: 10px;
    padding-top: 15px;
    font-size: 35px;
    font-weight: bold;
    color: #66fcf1;
}

.navigasi {
    margin-left: 260px;
}

.list {
    padding-left: 8px;
}

a {
    display: inline-block;
    color: #66fcf1;
    padding-bottom: 10px;
}


a :hover {
    color: #fff;
}

a :active {
    color: white;
}

img {
    width: 800px;
    height: 450px;
    background-size: cover;
    background-position: 0 -300px;
    margin-left: -40px;
}


article .judul2 {
    font-size: 30px;
    font-weight: bold;
    margin-left: 20px;
    color: #66fcf1;
}

p {
    color: #c5c6c7;
}

.isikonten {
    margin-left: 20px;
}

.subjudul {
    margin-left: 20px;
}

footer {
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 3px;
}